html(lang='en')
  head
    title roster
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/roster.css')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='adminhome') Time to Work
        ul.nav.navbar-nav
          li.active
             a(href='adminhome') roaster
          li
            a(href='/task') Add new rooster
          li
            a(href='/addworker') Add new worker
        button.btn.btn-danger.navbar-btn.pull-right
          a(href='/login') logout
    .container
      .row
        br
        br
        .col-lg-4.col-lg-push-4
          input#search.form-control(type='search', name='search', value='', placeholder='Search')
        br
        br
      .row
        .col-lg-12
          table#roster-table.table.table-bordered
            thead
              tr.bg-primary
                th(style='width: 180px; text-align: left;') Employees
                th Mon
                th Tues
                th Wed
                th Thurs
                th Fri
              tbody.context
                each user in users
                  each time in user.times
                      tr
                        td.info(style='text-align: left;') #{user.name}
                        td  from: #{time.from} <br> To: #{time.to} <br> Task:
                          span.initials(data-toggle='tooltip', data-placement='right', title='Robert Clarke')
                          span.hidden.fullName
                        td  from: #{time.from} <br> To: #{time.to}
                          span.hidden.fullName
                        td from: #{time.from} <br> To: #{time.to}
                          span.hidden.fullName
                        td from: #{time.from} <br> To: #{time.to}
                          span.hidden.fullName
                        td from: #{time.from} <br> To: #{time.to}
                          span.initials(data-toggle='tooltip', data-placement='right', title='Lora Medoro')
    //- script(src='//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js')
    //- script(src='https://cdn.jsdelivr.net/mark.js/8.6.0/jquery.mark.min.js')
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/roster.js')