doctype html
html(lang='en')
	head
		link(href='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href='css/bootstrap-theme.min.css' type='text/css' rel='stylesheet')
		link(href='css/custom.css' type='text/css' rel='stylesheet')
	body
		nav.navbar.navbar-inverse
			.container-fluid
				.navbar-header
					a.navbar-brand(href='adminhome') Time to Work
				ul.nav.navbar-nav
					li.active
						a(href='adminhome') roaster
					li
						a(href='http://localhost:3000/task') Add new rooster
					li
						a(href='http://localhost:3000/addworker') Add new worker
				button.btn.btn-danger.navbar-btn.pull-right
					a(href='http://localhost:3000/login') logout		
		.container(style='margin-top:70px;')
			.row
				form.form-group.col-sm-7.col-sm-offset-2(action= '/time?id=' + task, method= 'post')
					.registration-date
						label.control-label.col-sm-3(for='date') Date:
						.input-group.registration-date-time
							span#basic-addon1.input-group-addon
								span.glyphicon.glyphicon-calendar(aria-hidden='true')
							input#registration-date.form-control(name='date', type='date')
								
						br
						label.control-label.col-sm-3(for='registration_time') From:
						.input-group.registration-date-time
							span#basic-addon1.input-group-addon
								span.glyphicon.glyphicon-time(aria-hidden='true')
							input#registration-time.form-control(name='from', type='time')
							span.input-group-btn
						br
						label.control-label.col-sm-3(for='registration_time1') To:
						.input-group.registration-date-time
							span#basic-addon1.input-group-addon
								span.glyphicon.glyphicon-time(aria-hidden='true')
							input#registration-time1.form-control(name='to', type='time')
							input(type="hidden" value=taskId name="taskId")
							span.input-group-btn
						hr
						each user in users
							<input type="checkbox" name="user" value=#{user.id}> #{user.name}<br>
						hr
						button.sub.btn.btn-default#subBtn(type='submit', name="next", value='0') Submit 
						
						button#addTimeBlock.sub.btn.btn-default(type='submit', name='next', value='1') Submit & Add another time-block
		//- br
		//- .container
		//- 	.row
		//- 		.dual-list.list-right.col-md-6
		//- 			.well
		//- 				.row
		//- 					.col-md-12.form-group
		//- 						.input-group
		//- 							span.input-group-addon.glyphicon.glyphicon-search(style='top: 0px;')
		//- 							input.form-control(type='text', name='SearchDualList', placeholder='search')
		//- 							span.input-group-addon.glyphicon.glyphicon-unchecked.selector(style='cursor: pointer; top: 0px;', title='Select All')
		//- 							span.input-group-addon.glyphicon.glyphicon-plus.move-left(style='cursor: pointer; top: 0px;', title='Add Selected')
						
		//- 				ul#dual-list-right.list-group
		//- 					each user in users
		//- 						li.list-group-item(data-value=user.id) #{user.name}
		//- 		.dual-list.list-left.col-md-6
		//- 			.well.text-right
		//- 				.row
		//- 					.col-md-12.form-group
		//- 						.input-group
		//- 							span.input-group-addon.glyphicon.glyphicon-search(style='top: 0px;')
		//- 							input.form-control(type='text', name='SearchDualList', placeholder='search')
		//- 							span.input-group-addon.glyphicon.glyphicon-unchecked.selector(style='cursor: pointer; top: 0px;', title='Select All')
		//- 							span.input-group-addon.glyphicon.glyphicon-minus.move-right(style='cursor: pointer; top: 0px;', title='Remove Selected')
		//- 				ul#dual-list-left.list-group

		//- 		select#dual-list-options(name='dual-list-options[]', multiple='multiple', style='display: none;', size='10')
		//- 			option(value='1', selected='selected') Option 1
		//- 			option(value='2', selected='selected') Option 2
		//- 			option(value='3', selected='selected') Option 3
		//- 			option(value='4', selected='selected') Option 4
		//- 			option(value='5', selected='selected') Option 5		

		script(src='/js/jquery.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/time.js')
		script(src="http://momentjs.com/downloads/moment-with-locales.js")
		script(src="http://momentjs.com/downloads/moment-timezone-with-data.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")